<?xml version="1.0"?>
<robot name="irb120">

  <!--
    Visual meshes for ABB IRB 120 3/0.58.
    Meshes are expressed in the local frame of each link.
  -->

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://irb120_description/meshes/visual/base_link.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="link_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://irb120_description/meshes/visual/link_1.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="link_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://irb120_description/meshes/visual/link_2.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="link_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://irb120_description/meshes/visual/link_3.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="link_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://irb120_description/meshes/visual/link_4.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="link_5">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://irb120_description/meshes/visual/link_5.stl"/>
      </geometry>
    </visual>
  </link>

  <link name="link_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://irb120_description/meshes/visual/link_6.stl"/>
      </geometry>
    </visual>
  </link>

  <joint name="joint_1" type="revolute">
    <parent link="base_link"/>
    <child link="link_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.879793" upper="2.879793"
           effort="0" velocity="4.363323"/>
  </joint>

  <joint name="joint_2" type="revolute">
    <parent link="link_1"/>
    <child link="link_2"/>
    <origin xyz="0 0 0.290" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.919862" upper="1.919862"
           effort="0" velocity="4.363323"/>
  </joint>

  <joint name="joint_3" type="revolute">
    <parent link="link_2"/>
    <child link="link_3"/>
    <origin xyz="0 0 0.270" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.919862" upper="1.221730"
           effort="0" velocity="4.363323"/>
  </joint>

  <joint name="joint_4" type="revolute">
    <parent link="link_3"/>
    <child link="link_4"/>
    <origin xyz="0 0 0.070" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.792527" upper="2.792527"
           effort="0" velocity="5.585054"/>
  </joint>

  <joint name="joint_5" type="revolute">
    <parent link="link_4"/>
    <child link="link_5"/>
    <origin xyz="0.302 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.094395" upper="2.094395"
           effort="0" velocity="5.585054"/>
  </joint>

  <joint name="joint_6" type="revolute">
    <parent link="link_5"/>
    <child link="link_6"/>
    <origin xyz="0.072 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-6.981317" upper="6.981317"
           effort="0" velocity="7.330383"/>
  </joint>

</robot>
